@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float');
@font-face {
    font-family: 'Magic School Two';
    src: url('fonts/MagicSchoolTwo.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: sans-serif;
    background-image: url(images/hp.jpg);
    background-size: cover;
}

h2{
    font-family: 'Magic School Two', sans-serif;
    font-size: 7rem;
    color:darkgreen;
}

label{
    font-family: 'Magic School Two', sans-serif;
    font-size: 4rem;
    color: darkgreen;
}

#number{
    font-size: 1.6rem;
}

button{
    margin: 5px;
    padding: 0px 10px;
    font-size: 2.8rem;
    font-family: 'Magic School Two', sans-serif;
}

ul{
    font-size: 1.5rem;
    list-style-type: none;
    color:rgb(0, 0, 0);
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}